body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333;
    background-color: transparent;
    min-height: 100vh;
}

#welocomeModal .modal-content {
    z-index: 99999 !important;
}

.modal-backdrop {
    display: none;
    position: relative;
}

.modal-backdrop .in {
    z-index: 0 !important;
}

#welcomeWrap,
#newUserForm,
#signinForm,
#logoutBtn {
    z-index: 9;
    position: relative;
}

#newUserForm,
#signinForm,
#logoutBtn {
    width: 30%;
    float: left;
}

#container {
    position: relative;
    height: 100%;
    width: 100%;
}

#container img {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 100vh;
}


/* Dyanamically displays zodiac icons one afer the other on page 1 */

@-webkit-keyframes imgFade {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes imgFade {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes imgFade {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes imgFade {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#container img {
    -webkit-animation-name: imgFade;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 10s;
    -moz-animation-name: imgFade;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 10s;
    -o-animation-name: imgFade;
    -o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count: infinite;
    -o-animation-duration: 10s;
    animation-name: imgFade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

#container img:nth-of-type(1) {
    -webkit-animation-delay: 22s;
    -moz-animation-delay: 22s;
    -o-animation-delay: 22s;
    animation-delay: 22s;
}

#container img:nth-of-type(2) {
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    animation-delay: 20s;
}

#container img:nth-of-type(3) {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    animation-delay: 18s;
}

#container img:nth-of-type(4) {
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;
    -o-animation-delay: 16s;
    animation-delay: 16s;
}

#container img:nth-of-type(5) {
    -webkit-animation-delay: 14s;
    -moz-animation-delay: 14s;
    -o-animation-delay: 14s;
    animation-delay: 14s;
}

#container img:nth-of-type(6) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
}

#container img:nth-of-type(7) {
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    animation-delay: 10s;
}

#container img:nth-of-type(8) {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    animation-delay: 8s;
}

#container img:nth-of-type(9) {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
}

#container img:nth-of-type(10) {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
}

#container img:nth-of-type(11) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

#container img:nth-of-type(12) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

h1 {
    color: white;
}

#form-user {
    border: 1px solid black;
    padding: 10px;
    border-radius: 3px;
    width: 200px;
    position: relative;
}

#myModal {
    background: transparent;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

#account {
    height: 100vh;
    background: url(../img/background.jpg) no-repeat center;
    background-size: cover;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#profile {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}